body {
  margin: 0;
  font-weight: bold;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.calculator {
  max-width: 400px;
  margin: 0 auto;
}

.screen {
  padding: 0 10px;
  background-color: #767c85;
}

.display {
  width: 100%;
  height: 50px;
  color: #fff;
  display: flex;
  font-size: 30px;
  align-items: center;
  justify-content: flex-end;
}

.touch-pad {
  display: grid;
  grid-auto-rows: 80px;
  background-color: #bedbe5;
  grid-template-columns: repeat(4, 1fr);
  border-bottom: 1px solid #767c85;
  border-right: 1px solid #767c85;
}

button {
  cursor: pointer;
  font-size: 18px;
  border: 1px solid #767c85;
  border-bottom: 0;
  border-right: 0;
}

button:nth-child(17) {
  grid-column-start: 1;
  grid-column-end: 3;
}

button.operator {
  background: #fd8a0d;
}
